In [4]:
import requests
import json
import sys
import sqlite3
import datetime
import pandas as pd

In [38]:
#select_date = sys.argv
#if len(select_date) <= 1 and len(select_date) <= 2:
#    raise ArgumentsError("Short of arguments. must need to 2 arguments YearMonth(YYMM) and HourMinute(HHmm) ex.20180101 1500")
#elif len(str(select_date[1])) !=   8 and len(str(select_date[2])) !=   4:
#    raise ValueError("invalid value error")
select_date = ['GetWether.py', '20181213', '1200']

In [5]:
API_KEY = "ccfb0fd6db35eaf936907c745ebee993"
Poly_ID = "5c0f769ab83b0a000999031d"
api = "http://api.openweathermap.org/data/2.5/forecast?id={city}&APPID={key}"
city_ID = [1850144, 1853909]
country_name = "JP"
city_name = ["Tokyo", "Osaka-shi"]

In [6]:
url_tokyo = api.format(city = city_ID[0], key = API_KEY)
url_osaka = api.format(city = city_ID[1], key = API_KEY)

In [7]:
response_tokyo = requests.get(url_tokyo)
response_osaka = requests.get(url_osaka)

In [8]:
tokyo = json.loads(response_tokyo.text)
osaka = json.loads(response_osaka.text)
#tokyo_d_list = {"Tokyo": [tokyo]}
#osaka_d_list = {"Osaka": [osaka]}

In [9]:
df_tokyo = pd.io.json.json_normalize(tokyo["list"])
df_osaka = pd.io.json.json_normalize(osaka["list"])
pre_weather_t = pd.DataFrame([df_tokyo["weather"][i][0] for i in range(len(df_tokyo["weather"]))])
pre_weather_o = pd.DataFrame([df_osaka["weather"][i][0] for i in range(len(df_osaka["weather"]))])
df_tokyo = df_tokyo.drop("weather", axis=1)
df_osaka = df_osaka.drop("weather", axis=1)
for_deploy_df_tokyo = pd.concat([df_tokyo, pre_weather_t], axis=1)
for_deploy_df_osaka = pd.concat([df_osaka, pre_weather_o], axis=1)

In [14]:
connect = sqlite3.connect("weather")
cur = connect.cursor()

In [15]:
for_deploy_df_tokyo.to_sql("Tokyo", connect, if_exists="replace")

In [16]:
for_deploy_df_osaka.to_sql("Osaka", connect, if_exists="replace")

In [17]:
con.commit()

In [42]:
tokyo_sql = pd.read_sql("SELECT * FROM Tokyo", con=connect)
tokyo_sql

,index,clouds.all,dt,dt_txt,main.grnd_level,main.humidity,main.pressure,main.sea_level,main.temp,main.temp_kf,main.temp_max,main.temp_min,rain.3h,sys.pod,wind.deg,wind.speed,description,icon,id,main
0,0,0,1544713200,2018-12-13 15:00:00,1027.88,100,1027.88,1031.90,275.660,-0.43,276.090,275.660,NaN,n,291.00500,1.67,clear sky,01n,800,Clear
1,1,0,1544724000,2018-12-13 18:00:00,1027.12,100,1027.12,1031.09,275.440,-0.29,275.726,275.440,NaN,n,294.50900,2.46,clear sky,01n,800,Clear
2,2,0,1544734800,2018-12-13 21:00:00,1029.65,100,1029.65,1033.56,277.750,-0.14,277.896,277.750,NaN,n,344.00400,5.41,clear sky,01n,800,Clear
3,3,8,1544745600,2018-12-14 00:00:00,1031.15,97,1031.15,1035.24,281.018,0.00,281.018,281.018,NaN,d,351.00400,6.47,clear sky,02d,800,Clear
4,4,32,1544756400,2018-12-14 03:00:00,1030.96,88,1030.96,1034.86,282.708,0.00,282.708,282.708,NaN,d,353.50100,5.57,scattered clouds,03d,802,Clouds
5,5,48,1544767200,2018-12-14 06:00:00,1031.32,86,1031.32,1035.19,282.447,0.00,282.447,282.447,NaN,d,354.00900,5.57,scattered clouds,03d,802,Clouds
6,6,92,1544778000,2018-12-14 09:00:00,1033.23,93,1033.23,1037.13,280.543,0.00,280.543,280.543,NaN,n,358.50900,5.76,overcast clouds,04n,804,Clouds
7,7,80,1544788800,2018-12-14 12:00:00,1034.42,96,1034.42,1038.23,279.517,0.00,279.517,279.517,NaN,n,3.50244,5.71,broken clouds,04n,803,Clouds
8,8,80,1544799600,2018-12-14 15:00:00,1034.37,99,1034.37,1038.33,278.858,0.00,278.858,278.858,NaN,n,5.00256,5.66,broken clouds,04n,803,Clouds
9,9,92,1544810400,2018-12-14 18:00:00,1034.61,100,1034.61,1038.53,278.665,0.00,278.665,278.665,0.02,n,0.00000,5.26,light rain,10n,500,Rain
10,10,92,1544821200,2018-12-14 21:00:00,1035.11,100,1035.11,1039.03,278.741,0.00,278.741,278.741,0.02,n,357.50600,5.65,light rain,10n,500,Rain
11,11,8,1544832000,2018-12-15 00:00:00,1036.23,94,1036.23,1040.21,279.806,0.00,279.806,279.806,NaN,d,354.00800,7.01,clear sky,02d,800,Clear
12,12,0,1544842800,2018-12-15 03:00:00,1035.51,85,1035.51,1039.42,281.919,0.00,281.919,281.919,NaN,d,355.50100,7.06,clear sky,01d,800,Clear
13,13,0,1544853600,2018-12-15 06:00:00,1035.42,83,1035.42,1039.31,281.978,0.00,281.978,281.978,NaN,d,2.00031,6.31,clear sky,01d,800,Clear
14,14,0,1544864400,2018-12-15 09:00:00,1036.84,90,1036.84,1040.88,280.011,0.00,280.011,280.011,NaN,n,9.00052,5.22,clear sky,01n,800,Clear
15,15,0,1544875200,2018-12-15 12:00:00,1037.84,100,1037.84,1041.87,277.711,0.00,277.711,277.711,NaN,n,6.00201,3.98,clear sky,01n,800,Clear
16,16,0,1544886000,2018-12-15 15:00:00,1037.47,100,1037.47,1041.55,275.672,0.00,275.672,275.672,NaN,n,28.50930,2.42,clear sky,01n,800,Clear
17,17,0,1544896800,2018-12-15 18:00:00,1036.88,100,1036.88,1040.92,274.153,0.00,274.153,274.153,NaN,n,35.00120,1.66,clear sky,01n,800,Clear
18,18,0,1544907600,2018-12-15 21:00:00,1035.91,100,1035.91,1040.07,273.495,0.00,273.495,273.495,NaN,n,56.51020,1.02,clear sky,01n,800,Clear
19,19,20,1544918400,2018-12-16 00:00:00,1035.94,100,1035.94,1039.96,279.082,0.00,279.082,279.082,NaN,d,167.00000,0.27,few clouds,02d,801,Clouds
20,20,68,1544929200,2018-12-16 03:00:00,1032.95,85,1032.95,1037.01,283.312,0.00,283.312,283.312,NaN,d,198.00000,1.52,broken clouds,04d,803,Clouds
21,21,68,1544940000,2018-12-16 06:00:00,1030.13,89,1030.13,1033.95,283.198,0.00,283.198,283.198,0.39,d,204.00400,1.81,light rain,10d,500,Rain
22,22,12,1544950800,2018-12-16 09:00:00,1027.50,100,1027.50,1031.57,281.800,0.00,281.800,281.800,0.98,n,169.50100,2.21,light rain,10n,500,Rain
23,23,0,1544961600,2018-12-16 12:00:00,1025.07,100,1025.07,1029.13,282.914,0.00,282.914,282.914,NaN,n,223.00700,5.32,clear sky,01n,800,Clear
24,24,92,1544972400,2018-12-16 15:00:00,1022.73,100,1022.73,1026.65,283.119,0.00,283.119,283.119,0.07,n,267.50100,4.01,light rain,10n,500,Rain
25,25,92,1544983200,2018-12-16 18:00:00,1019.74,100,1019.74,1023.66,279.758,0.00,279.758,279.758,4.23,n,304.00300,1.96,moderate rain,10n,501,Rain
26,26,100,1544994000,2018-12-16 21:00:00,1016.44,100,1016.44,1020.39,278.779,0.00,278.779,278.779,5.84,n,350.00100,3.11,moderate rain,10n,501,Rain
27,27,36,1545004800,2018-12-17 00:00:00,1015.18,100,1015.18,1019.05,279.589,0.00,279.589,279.589,0.82,d,12.00200,2.11,light rain,10d,500,Rain
28,28,0,1545015600,2018-12-17 03:00:00,1013.39,100,1013.39,1017.14,283.171,0.00,283.171,283.171,NaN,d,219.50200,1.26,clear sky,01d,800,Clear
29,29,0,1545026400,2018-12-17 06:00:00,1011.82,100,1011.82,1015.60,284.721,0.00,284.721,284.721,NaN,d,199.00100,1.16,clear sky,01d,800,Clear
30,30,20,1545037200,2018-12-17 09:00:00,1012.11,100,1012.11,1016.12,281.262,0.00,281.262,281.262,NaN,n,299.50100,0.81,few clouds,02n,801,Clouds
31,31,68,1545048000,2018-12-17 12:00:00,1014.58,100,1014.58,1018.49,281.206,0.00,281.206,281.206,0.11,n,314.00000,1.96,light rain,10n,500,Rain
32,32,0,1545058800,2018-12-17 15:00:00,1016.97,100,1016.97,1020.89,279.640,0.00,279.640,279.640,0.03,n,297.50800,2.87,light rain,10n,500,Rain
33,33,0,1545069600,2018-12-17 18:00:00,1019.05,100,1019.05,1022.95,277.734,0.00,277.734,277.734,NaN,n,314.50300,1.96,clear sky,01n,800,Clear
34,34,0,1545080400,2018-12-17 21:00:00,1020.59,100,1020.59,1024.59,276.403,0.00,276.403,276.403,NaN,n,356.00100,1.66,clear sky,01n,800,Clear
35,35,0,1545091200,2018-12-18 00:00:00,1022.20,100,1022.20,1026.13,281.346,0.00,281.346,281.346,NaN,d,76.50140,1.01,clear sky,01d,800,Clear
36,36,0,1545102000,2018-12-18 03:00:00,1019.98,96,1019.98,1023.86,285.253,0.00,285.253,285.253,NaN,d,190.00200,2.22,clear sky,01d,800,Clear
37,37,0,1545112800,2018-12-18 06:00:00,1017.66,80,1017.66,1021.62,285.921,0.00,285.921,285.921,NaN,d,231.00200,7.41,clear sky,01d,800,Clear
38,38,0,1545123600,2018-12-18 09:00:00,1018.16,80,1018.16,1022.19,284.686,0.00,284.686,284.686,NaN,n,239.00300,8.42,clear sky,01n,800,Clear
39,39,0,1545134400,2018-12-18 12:00:00,1019.19,82,1019.19,1023.18,284.002,0.00,284.002,284.002,NaN,n,240.50100,9.27,clear sky,01n,800,Clear

In [40]:
date_format = "{year}-{month}-{date} {hour}:{minutes}:00".format(year=select_date[1][0:4], month=select_date[1][4:6], date=select_date[1][6:8], hour=select_date[2][:2], minutes=select_date[2][2:])
date_format

'2018-12-13 12:00:00'

In [41]:
print("Tokyo\n", tokyo_sql[tokyo_sql.dt_txt == date_format])

Tokyo
 Empty DataFrame
Columns: [index, clouds.all, dt, dt_txt, main.grnd_level, main.humidity, main.pressure, main.sea_level, main.temp, main.temp_kf, main.temp_max, main.temp_min, rain.3h, sys.pod, wind.deg, wind.speed, description, icon, id, main]
Index: []

In [ ]:
con.close()