In [1]:
import numpy as np
import scipy.stats as ss
import statsmodels.api as sm
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("data/csv all_results_ex2.csv")

In [3]:
data

     response time correct response answered response  Unnamed: 3
0             2538                n                 n         NaN
1             1770                y                 y         NaN
2            21433                y                 y         NaN
3              993                n                 n         NaN
4              873                y                 y         NaN
5             1362                y                 y         NaN
6              889                n                 n         NaN
7             1234                n                 n         NaN
8             3138                y                 y         NaN
9             1222                y                 y         NaN
10            1449                n                 n         NaN
11            1308                y                 y         NaN
12            1776                y                 y         NaN
13             836                n                 n         NaN
14             891                n                 n         NaN
15            1178                n                 n         NaN
16            1675                y                 y         NaN
17            1705                n                 n         NaN
18            1299                y                 y         NaN
19            1171                n                 n         NaN
20             964                y                 y         NaN
21            1055                n                 n         NaN
22            1016                n                 n         NaN
23            1050                y                 y         NaN
24            1625                n                 n         NaN
25            1355                y                 y         NaN
26            2150                y                 y         NaN
27            1158                n                 n         NaN
28            1901                y                 y         NaN
29            1674                n                 n         NaN
..             ...              ...               ...         ...
322            556                n                 n         NaN
323           1548                y                 y         NaN
324           1580                y                 y         NaN
325           1019                n                 n         NaN
326            782                n                 n         NaN
327            904                y                 y         NaN
328           1135                y                 n         NaN
329           1608                n                 n         NaN
330           1229                n                 n         NaN
331           1040                y                 y         NaN
332            845                y                 y         NaN
333            919                n                 n         NaN
334           1111                n                 n         NaN
335           1140                y                 y         NaN
336           1856                n                 n         NaN
337           1299                y                 y         NaN
338           1001                y                 y         NaN
339            933                n                 n         NaN
340           1026                y                 n         NaN
341           1112                n                 n         NaN
342            984                y                 y         NaN
343            954                n                 n         NaN
344           2028                y                 n         NaN
345           1271                y                 y         NaN
346           1453                n                 n         NaN
347           1032                n                 n         NaN
348           2475                y                 y         NaN
349           1541                y                 y         NaN
350            752                n                 n         NaN
351            997                n                 n         NaN

[352 rows x 4 columns]

In [5]:
data_correct = data[data["correct response"] == data["answered response"]]
data_uncorrect = data[data["correct response"] != data["answered response"]]

In [ ]:
ss.moment